#address{	
	text-align: center;
	padding-top:2.5em;
	font-size: 20px;
}
#contact{
	text-align:center;
	margin-top:5px;
	font-size: 20px;
}

h1{
	border-bottom:3px double #000;
}

.exercise {
	margin-left: 20px;
}

.indent-text{
	text-indent: 50px;
}

table, th, td {
  border: 1px solid black;

}



